# EditorConfig ajută la menținerea unui stil de codare consistent
# pentru mai mulți developeri care lucrează la același proiect
# în diverse editoare și IDE-uri.
# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true 